Repository chrislyons-dev/flarelette-jwt-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, black, ruff check --fix

.lintstagedrc.json:

{
  "*.{js,mjs,ts}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"],
  "*.py": ["black", "ruff check --fix"]
}

fix: package verify - lazy import of cloudflare py runtime dependency 'crypto'
  THIRD_PARTY_LICENSES.md
  packages/flarelette-jwt-py/flarelette_jwt/sign.py
  packages/flarelette-jwt-py/flarelette_jwt/verify.py
Due: prettier --write, black, ruff check --fix

fix: lazy-load js module imports to support ci/cd environments
  THIRD_PARTY_LICENSES.md
Due: prettier --write

fix: python pacakge verification
  .github/workflows/ci.yml
Due: prettier --write

fix: py package verification
  packages/flarelette-jwt-py/flarelette_jwt/sign.py
  packages/flarelette-jwt-py/flarelette_jwt/verify.py
  pyproject.toml
Due: black, ruff check --fix

fix: lazy-load js module and add ci smoke test to prevent import failures
  .github/workflows/ci.yml
  packages/flarelette-jwt-py/flarelette_jwt/sign.py
  packages/flarelette-jwt-py/flarelette_jwt/verify.py
  pyproject.toml
Due: prettier --write, black, ruff check --fix

fix: ts app packaging error
  .github/workflows/ci.yml
  packages/flarelette-jwt-ts/package.json
Due: prettier --write

fix: add package.json exports field and ci validation
  packages/flarelette-jwt-ts/package.json
Due: prettier --write

fix: py build error from file copies
  CONTRIBUTING.md
  package.json
  packages/flarelette-jwt-py/README.md
Due: prettier --write

chore: add sync:docs script and documentation for readme syncing
  CONTRIBUTING.md
  package.json
  packages/flarelette-jwt-py/README.md
Due: prettier --write

fix: synchronize version numbers to 1.8.0
  .github/.release-please-manifest.json
  .github/workflows/docs-deploy-manual.yml
  .gitignore
  README.md
  package.json
  packages/flarelette-jwt-py/CHANGELOG.md
  packages/flarelette-jwt-py/CONTRIBUTING.md
  packages/flarelette-jwt-py/LICENSE
  packages/flarelette-jwt-py/README.md
  packages/flarelette-jwt-py/THIRD_PARTY_LICENSES.md
  packages/flarelette-jwt-py/flarelette_jwt/__init__.py
  packages/flarelette-jwt-py/pyproject.toml
  packages/flarelette-jwt-ts/CHANGELOG.md
  pyproject.toml
Due: prettier --write, black, ruff check --fix

fix: ignore formatting errors for generated files
  .prettierignore
Due: none

chore: sync versions, add badges, and setup gh pages docs
  .github/.release-please-manifest.json
  .github/workflows/docs-deploy-manual.yml
  .gitignore
  .prettierignore
  README.md
  package.json
  packages/flarelette-jwt-py/CHANGELOG.md
  packages/flarelette-jwt-py/CONTRIBUTING.md
  packages/flarelette-jwt-py/LICENSE
  packages/flarelette-jwt-py/README.md
  packages/flarelette-jwt-py/THIRD_PARTY_LICENSES.md
  packages/flarelette-jwt-py/flarelette_jwt/__init__.py
  packages/flarelette-jwt-py/pyproject.toml
  packages/flarelette-jwt-ts/CHANGELOG.md
  pyproject.toml
Due: prettier --write, black, ruff check --fix

fix: pr gha error due to copying temp files
  .gitignore
  packages/flarelette-jwt-py/CHANGELOG.md
  packages/flarelette-jwt-py/CONTRIBUTING.md
  packages/flarelette-jwt-py/THIRD_PARTY_LICENSES.md
Due: prettier --write

chore: sync versions, add badges, and setup gh pages docs (#9)
  .gitignore
  packages/flarelette-jwt-py/CHANGELOG.md
  packages/flarelette-jwt-py/CONTRIBUTING.md
  packages/flarelette-jwt-py/THIRD_PARTY_LICENSES.md
Due: prettier --write

fix: configure unique component tags for monorepo releases
  .github/release-please-config.json
  .github/workflows/manual-publish.yml
  docs/architecture/README.md
  docs/architecture/flarelette-jwt-kit-ir.json
  docs/architecture/flarelette_jwt__util.md
  packages/CONTRIBUTING.md
  packages/README.md
  packages/THIRD_PARTY_LICENSES.md
Due: prettier --write

fix: configure unique component tags for monorepo releases (#11)
  .github/release-please-config.json
  .github/workflows/manual-publish.yml
  docs/architecture/README.md
  docs/architecture/flarelette-jwt-kit-ir.json
  docs/architecture/flarelette_jwt__util.md
  packages/CONTRIBUTING.md
  packages/README.md
  packages/THIRD_PARTY_LICENSES.md
  packages/flarelette-jwt-py/CHANGELOG.md
Due: prettier --write

fix: add descriptions to npm & pypi packages, add missing iss to actor claims
  .github/.release-please-manifest.json
  THIRD_PARTY_LICENSES.md
  docs/architecture/README.md
  docs/architecture/flarelette-jwt-kit-ir.json
  docs/architecture/flarelette_jwt__util.md
  mkdocs.yml
  package.json
  packages/flarelette-jwt-py/flarelette_jwt/env.py
  packages/flarelette-jwt-py/pyproject.toml
  packages/flarelette-jwt-ts/.gitignore
  packages/flarelette-jwt-ts/package.json
  packages/flarelette-jwt-ts/prepare.js
  packages/flarelette-jwt-ts/src/types.ts
  pyproject.toml
Due: eslint --fix, prettier --write, black, ruff check --fix

fix: iss and aud should be jwtvalue types
  packages/flarelette-jwt-ts/src/types.ts
Due: eslint --fix, prettier --write

fix: jwt type corrections and documentation updates
  .github/.release-please-manifest.json
  THIRD_PARTY_LICENSES.md
  docs/architecture/README.md
  docs/architecture/flarelette-jwt-kit-ir.json
  docs/architecture/flarelette_jwt__util.md
  mkdocs.yml
  package.json
  packages/flarelette-jwt-py/flarelette_jwt/env.py
  packages/flarelette-jwt-py/pyproject.toml
  packages/flarelette-jwt-ts/.gitignore
  packages/flarelette-jwt-ts/package.json
  packages/flarelette-jwt-ts/prepare.js
  packages/flarelette-jwt-ts/src/types.ts
  pyproject.toml
Due: eslint --fix, prettier --write, black, ruff check --fix

fix: consistently use flarelett's jwtpayload in the public interfaces
  THIRD_PARTY_LICENSES.md
  docs/architecture/README.md
  docs/architecture/chrislyons_dev_flarelette_jwt__adapters.md
  docs/architecture/chrislyons_dev_flarelette_jwt__core.md
  docs/architecture/chrislyons_dev_flarelette_jwt__util.md
  docs/architecture/flarelette-jwt-kit-ir.json
  docs/architecture/flarelette_jwt__util.md
  packages/flarelette-jwt-py/flarelette_jwt/__init__.py
  packages/flarelette-jwt-py/flarelette_jwt/high.py
  packages/flarelette-jwt-py/flarelette_jwt/sign.py
  packages/flarelette-jwt-ts/src/high.ts
  packages/flarelette-jwt-ts/src/index.ts
  packages/flarelette-jwt-ts/src/sign.ts
  packages/flarelette-jwt-ts/src/verify.ts
Due: eslint --fix, prettier --write, black, ruff check --fix

fix: sync typescript to 1.8.3 and configure automatic version syncing
  .github/.release-please-manifest.json
  .github/release-please-config.json
  packages/flarelette-jwt-ts/package.json
Due: prettier --write

fix: update THIRD_PARTY_LICENSES.md and type casts in test_sign_verify_mocked.py
  THIRD_PARTY_LICENSES.md
  packages/flarelette-jwt-py/tests/test_sign_verify_mocked.py
Due: prettier --write, black, ruff check --fix

fix: present a consistent public interface, synchronize builds (#16)
  .github/.release-please-manifest.json
  .github/release-please-config.json
  THIRD_PARTY_LICENSES.md
  docs/architecture/README.md
  docs/architecture/chrislyons_dev_flarelette_jwt__adapters.md
  docs/architecture/chrislyons_dev_flarelette_jwt__core.md
  docs/architecture/chrislyons_dev_flarelette_jwt__util.md
  docs/architecture/flarelette-jwt-kit-ir.json
  docs/architecture/flarelette_jwt__util.md
  packages/flarelette-jwt-py/flarelette_jwt/__init__.py
  packages/flarelette-jwt-py/flarelette_jwt/high.py
  packages/flarelette-jwt-py/flarelette_jwt/sign.py
  packages/flarelette-jwt-py/tests/test_sign_verify_mocked.py
  packages/flarelette-jwt-ts/package.json
  packages/flarelette-jwt-ts/src/high.ts
  packages/flarelette-jwt-ts/src/index.ts
  packages/flarelette-jwt-ts/src/sign.ts
  packages/flarelette-jwt-ts/src/verify.ts
Due: eslint --fix, prettier --write, black, ruff check --fix

chore: configure grouped releases and sync versions to 1.9.0
  .github/.release-please-manifest.json
  .github/release-please-config.json
  packages/flarelette-jwt-py/flarelette_jwt/__init__.py
  packages/flarelette-jwt-py/pyproject.toml
Due: prettier --write, black, ruff check --fix

chore: configure grouped releases and sync versions to 1.9.0 (#18)
  .github/.release-please-manifest.json
  .github/release-please-config.json
  packages/flarelette-jwt-py/flarelette_jwt/__init__.py
  packages/flarelette-jwt-py/pyproject.toml
Due: prettier --write, black, ruff check --fix

fix: use correct types for workerenv
  THIRD_PARTY_LICENSES.md
  docs/architecture/README.md
  packages/flarelette-jwt-ts/src/types.ts
Due: eslint --fix, prettier --write

fix: use correct types for workerenv (#20)
  THIRD_PARTY_LICENSES.md
  docs/architecture/README.md
  packages/flarelette-jwt-ts/src/types.ts
Due: eslint --fix, prettier --write

chore: synchronize packages to v1.10.0
  .github/.release-please-manifest.json
  packages/flarelette-jwt-ts/package.json
Due: prettier --write

chore: synchronize packages to v1.10.0 (#21)
  .github/.release-please-manifest.json
  packages/flarelette-jwt-ts/package.json
Due: prettier --write

chore: bump version to 1.10.1
  packages/flarelette-jwt-py/pyproject.toml
  packages/flarelette-jwt-ts/package.json
Due: prettier --write

chore: bump to v1.10.1 (#22)
  packages/flarelette-jwt-py/pyproject.toml
  packages/flarelette-jwt-ts/package.json
Due: prettier --write

chore: sync release please versions to 1.10.1
  .github/.release-please-manifest.json
  .github/workflows/release.yml
Due: prettier --write

chore: sync release please versions to 1.10.1 (#23)
  .github/.release-please-manifest.json
  .github/workflows/release.yml
Due: prettier --write

chore: fix release please configuration
  .github/release-please-config.json
Due: prettier --write

chore: fix release please configuration (#24)
  .github/release-please-config.json
Due: prettier --write

feat: core microservices app build
  packages/THIRD_PARTY_LICENSES.md
Due: prettier --write

fix: ignore generated files in .gitignore
  .gitignore
  packages/flarelette-jwt-py/LICENSE
  packages/flarelette-jwt-py/README.md
Due: prettier --write
