Repository chrislyons-dev/flarelette-jwt-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, black, ruff check --fix

.lintstagedrc.json:

{
  "*.{js,mjs,ts}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"],
  "*.py": ["black", "ruff check --fix"]
}

fix: ignore generated files in .gitignore
  .gitignore
  packages/flarelette-jwt-py/LICENSE
  packages/flarelette-jwt-py/README.md
Due: prettier --write

fix: bump version numbers
  packages/flarelette-jwt-py/flarelette_jwt/__init__.py
  packages/flarelette-jwt-py/pyproject.toml
  packages/flarelette-jwt-ts/package.json
Due: prettier --write, black, ruff check --fix

fix: bump versions (#27)
  packages/flarelette-jwt-py/flarelette_jwt/__init__.py
  packages/flarelette-jwt-py/pyproject.toml
  packages/flarelette-jwt-ts/package.json
Due: prettier --write, black, ruff check --fix

feat: bump versions to the lastest releases
  THIRD_PARTY_LICENSES.md
  docs/architecture/README.md
  package-lock.json
  package.json
  packages/flarelette-jwt-py/pyproject.toml
  packages/flarelette-jwt-ts/package.json
  packages/flarelette-jwt-ts/tests/sign-verify.test.ts
Due: eslint --fix, prettier --write

feat: bump versions (#29)
  THIRD_PARTY_LICENSES.md
  docs/architecture/README.md
  package-lock.json
  package.json
  packages/flarelette-jwt-py/pyproject.toml
  packages/flarelette-jwt-ts/package.json
  packages/flarelette-jwt-ts/tests/sign-verify.test.ts
Due: eslint --fix, prettier --write

fix: bump versions to 1.12.0
  packages/flarelette-jwt-py/pyproject.toml
  packages/flarelette-jwt-ts/package.json
Due: prettier --write

fix: bump versions to 1.12.0 (#30)
  packages/flarelette-jwt-py/pyproject.toml
  packages/flarelette-jwt-ts/package.json
Due: prettier --write

feat: es512 verify config, request-bound jwts, and test coverage gaps
  packages/flarelette-jwt-ts/src/explicit.ts
  packages/flarelette-jwt-ts/src/high.ts
  packages/flarelette-jwt-ts/src/index.ts
  packages/flarelette-jwt-ts/src/util.ts
  packages/flarelette-jwt-ts/tests/config.test.ts
  packages/flarelette-jwt-ts/tests/explicit.test.ts
  packages/flarelette-jwt-ts/tests/request-binding.test.ts
Due: eslint --fix, prettier --write

docs: architecture udpates
  THIRD_PARTY_LICENSES.md
  docs/architecture/README.md
  docs/architecture/chrislyons_dev_flarelette_jwt__explicit.md
  docs/architecture/chrislyons_dev_flarelette_jwt__util.md
  docs/architecture/diagrams/mermaid/structurizr-Classes_chrislyons_dev_flarelette_jwt__adapters.mmd
  docs/architecture/diagrams/mermaid/structurizr-Classes_chrislyons_dev_flarelette_jwt__core.mmd
  docs/architecture/diagrams/mermaid/structurizr-Classes_chrislyons_dev_flarelette_jwt__explicit.mmd
  docs/architecture/diagrams/mermaid/structurizr-Classes_chrislyons_dev_flarelette_jwt__jwks.mmd
  docs/architecture/diagrams/mermaid/structurizr-Classes_chrislyons_dev_flarelette_jwt__util.mmd
  docs/architecture/diagrams/mermaid/structurizr-Classes_chrislyons_dev_flarelette_jwt__verify.mmd
  docs/architecture/diagrams/mermaid/structurizr-Classes_flarelette_jwt__adapters.mmd
  docs/architecture/diagrams/mermaid/structurizr-Classes_flarelette_jwt__explicit.mmd
  docs/architecture/diagrams/mermaid/structurizr-Classes_flarelette_jwt__util.mmd
  docs/architecture/diagrams/mermaid/structurizr-Components_flarelette_jwt.mmd
  docs/architecture/diagrams/mermaid/structurizr-Containers.mmd
  docs/architecture/diagrams/plantuml/structurizr-Classes_chrislyons_dev_flarelette_jwt__explicit.puml
  docs/architecture/diagrams/plantuml/structurizr-Classes_chrislyons_dev_flarelette_jwt__util.puml
  docs/architecture/diagrams/plantuml/structurizr-Classes_flarelette_jwt__explicit.puml
  docs/architecture/diagrams/plantuml/structurizr-Classes_flarelette_jwt__util.puml
  docs/architecture/diagrams/structurizr-Classes_chrislyons_dev_flarelette_jwt__explicit.png
  docs/architecture/diagrams/structurizr-Classes_chrislyons_dev_flarelette_jwt__util.png
  docs/architecture/diagrams/structurizr-Classes_flarelette_jwt__explicit.png
  docs/architecture/diagrams/structurizr-Classes_flarelette_jwt__util.png
  docs/architecture/flarelette-jwt-kit-ir.json
  docs/architecture/flarelette-jwt-kit.dsl
Due: prettier --write

feat: manual configuration support for new encrytion standards
  THIRD_PARTY_LICENSES.md
  docs/architecture/README.md
  docs/architecture/chrislyons_dev_flarelette_jwt__explicit.md
  docs/architecture/diagrams/mermaid/structurizr-Classes_chrislyons_dev_flarelette_jwt__explicit.mmd
  docs/architecture/diagrams/mermaid/structurizr-Classes_flarelette_jwt__explicit.mmd
  docs/architecture/diagrams/mermaid/structurizr-Classes_flarelette_jwt__util.mmd
  docs/architecture/diagrams/plantuml/structurizr-Classes_chrislyons_dev_flarelette_jwt__explicit.puml
  docs/architecture/diagrams/plantuml/structurizr-Classes_flarelette_jwt__explicit.puml
  docs/architecture/diagrams/plantuml/structurizr-Classes_flarelette_jwt__util.puml
  docs/architecture/diagrams/structurizr-Classes_chrislyons_dev_flarelette_jwt__explicit.png
  docs/architecture/diagrams/structurizr-Classes_flarelette_jwt__explicit.png
  docs/architecture/diagrams/structurizr-Classes_flarelette_jwt__util.png
  docs/architecture/flarelette-jwt-kit-ir.json
  docs/architecture/flarelette-jwt-kit.dsl
  docs/architecture/flarelette_jwt__explicit.md
  docs/architecture/flarelette_jwt__util.md
  package-lock.json
  package.json
  packages/flarelette-jwt-py/flarelette_jwt/__init__.py
  packages/flarelette-jwt-py/flarelette_jwt/env.py
  packages/flarelette-jwt-py/flarelette_jwt/explicit.py
  packages/flarelette-jwt-py/flarelette_jwt/verify.py
  packages/flarelette-jwt-py/tests/test_explicit.py
  packages/flarelette-jwt-ts/package.json
  packages/flarelette-jwt-ts/src/explicit.ts
  packages/flarelette-jwt-ts/src/sign.ts
  packages/flarelette-jwt-ts/src/types.ts
  packages/flarelette-jwt-ts/tests/explicit-jwks.test.ts
Due: eslint --fix, prettier --write, black, ruff check --fix

fix: audit violation
  THIRD_PARTY_LICENSES.md
  docs/architecture/README.md
  package-lock.json
Due: prettier --write

fix: license check
  .github/workflows/dependency-review.yml
  docs/architecture/README.md
Due: prettier --write

feat: use trusted publishers instead of access tokens
  .github/workflows/cd.yml
  .github/workflows/manual-publish.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  packages/CONTRIBUTING.md
Due: prettier --write

feat: convert cd to trusted publishers (#45)
  .github/workflows/cd.yml
  .github/workflows/manual-publish.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  packages/CONTRIBUTING.md
Due: prettier --write

fix: documentation on new encryption capabilities
  .github/workflows/cd.yml
  THIRD_PARTY_LICENSES.md
  docs/architecture/README.md
  docs/user-guide/core-concepts.md
Due: prettier --write

fix: format error from merge
  THIRD_PARTY_LICENSES.md
  docs/user-guide/core-concepts.md
Due: prettier --write

fix: documentation on new encryption capabilities (#46)
  .github/workflows/cd.yml
  THIRD_PARTY_LICENSES.md
  docs/architecture/README.md
  docs/user-guide/core-concepts.md
Due: prettier --write

fix: troubleshoot npm publish error after changing to trusted publishers
  .github/workflows/manual-publish.yml
Due: prettier --write

fix: troubleshoot npm publish error after changing to trusted publishers
  .github/workflows/cd.yml
  .github/workflows/manual-publish.yml
  .github/workflows/release.yml
Due: prettier --write

fix: troubleshoot npm publish error after changing to trusted publishers (#47)
  .github/workflows/cd.yml
  .github/workflows/manual-publish.yml
  .github/workflows/release.yml
Due: prettier --write

fix: troubleshoot npm publish error after changing to trusted publishers
  .github/workflows/manual-publish.yml
  packages/flarelette-jwt-ts/package.json
Due: prettier --write

fix: troubleshoot npm publish error after changing to trusted publishers (#48)
  .github/workflows/manual-publish.yml
  packages/flarelette-jwt-ts/package.json
Due: prettier --write
